<div class="game-page">
  <div class="game-container">
    <div class="game-header">
      <h2>Spectory Snake</h2>
      <div class="scores-block">
        <div class="current-game-score">Score: {{score}}</div>
      </div>
    </div>
    <div class="game-board">
      <div class="row" *ngFor="let row of gameBoard; let i = index">
        <div class="col" *ngFor="let col of row; let j = index" [class]="getColType(i,j)">
        </div>
      </div>
    </div>
    <div class="game-footer">
      <div class="btn-container">
        <button type="button" class="btn-start" (click)="startGame()">Start Game</button>
      </div>
    </div>
  </div>
</div>