/* You can add global styles to this file, and also import other style files */

:root {
    --color-background-game: #47565A;
    --color-font-game: #fff;

    --color-column-game-over: #e44d26;
    --color-column-fruit: #d64040;
    --color-column-snake-head: #2b358f;
    --color-column-snake-body: #C8F7C5;
}


body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}